<div class="footer">
    <div class="footer-left">
        <p>[ROB]</p>
        <p>© Robin Oester-Barkey 2024</p>
    </div>
    <div class="links">
        <a href="https://www.linkedin.com/in/robin-oester-barkey/" target="_blank"><img src="../../assets/img/linkedin.png" alt=""></a>
        <a href="https://github.com/RobinOester-Barkey" target="_blank"><img src="../../assets/img/git-link.png" alt=""></a>
        <a href="mailto:robin.info@oester-b.com"><img src="../../assets/img/mail-link.png" alt=""></a>
    </div>
</div>