.footer{
    height: 69px;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-left{
        z-index: 1000;
        height: 69px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    p{
        font-family: Overpass;
        font-size: 22px;
        font-weight: 400;
        color: white;
    }
}

.links{
    z-index: 1000;
    a{
        padding-left: 42px;
    }
    img:hover{
        transform: scale(1.3);
        transition: 125ms;
    }
}