<div class="about-me-container" id="aboutMe">
    <h2>
        About me
    </h2>

    <div class="description">
        <div>
            <p class="description-text">
                As a passionate Frontend Developer, I bring not only technical skills but also a tireless curiosity and
                enthusiasm for the world of programming. <br> Over the past year, I have been intensively advancing my skills
                through further education, deepening my knowledge and discovering the joy of creative coding. <br> The
                opportunity to craft both aesthetic and functional web experiences drives me and motivates me to
                continually learn and tackle new challenges. <br> I look forward to applying and developing my skills in
                exciting projects.
            </p>
            <p>
                <img src="/assets/img/house.png" alt="">
                Based in Bielefeld
            </p>
            <p>
                <img src="/assets/img/laptop_chromebook.png" alt="">
                Open to work Remote
            </p>
            <div class="btn">
                <button><a href="#contactForm">Lets Talk</a></button>
            </div>
        </div>

        <div class="profile-img">
            <img src="/assets/img/p-bild.png" alt="">
        </div>
    </div>

</div>

<div class="arrow-down">
    <img src="/assets/img/Group 3.png" alt="">
</div>