<app-header></app-header>

<div class="page-container">
    <div class="menu-page">
        <div class="menu">
            <h1 (click)="openPage('aboutme')">About me</h1>
            <h1 (click)="openPage('skills')">My skills</h1>
            <h1 (click)="openPage('portfolio')">Portfolio</h1>
        </div>
        <div class="contact">
            <h2 (click)="openPage('contact')">Say Hi!</h2>
            <h3>robin.info&commat;oester-b.com</h3>
            <div class="links">
                <a href="https://www.linkedin.com/in/robin-oester-barkey/" target="_blank"><img src="../../assets/img/linkedin.png" alt=""></a>
                <a href="https://github.com/RobinOester-Barkey" target="_blank"><img src="../../assets/img/git-link.png" alt=""></a>
                <a href="mailto:robin.info@oester-b.com"><img src="../../assets/img/mail-link.png" alt=""></a>
            </div>
        </div>
        <div class="bg"></div>
    </div>
</div>



