<div class="start-page">
    <p class="titel">
        Frontend
        <br>
        Developer
    </p>
    <div class="name-container">
        <hr class="line">
        <p>
            Robin Oester-Barkey
        </p>
    </div>

    <div class="start-page-scrolldown">
        <div class="adress">
            <span>
                {{emailAdress}}
            </span>
        </div>
        <div>
            <a href="#aboutMe">
                <img id="scrollArrow" src="/assets/img/15. arrow.png" alt="">
                <p>
                    Scroll
                    <br>
                    Down
                </p>
            </a>
        </div>

    </div>
</div>