<div class="sharkie-page" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
    [ngClass]="{ 'hovered': isHovered }">
    <h3>
        03/03
    </h3>
    <div class="image-container">
        <img src="/assets/img/sharkie.png" alt="">
    </div>
    <div class="p-arrow">
        <img src="/assets/img/p-arrow.png" alt="">
    </div>

    <div class="description">
        <h4>Sharkie</h4>
        <h5>JavaScript | HTML | CSS </h5>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison
            bottles to fight against the killer whale.</p>
        <div class="buttons">
            <a href="https://github.com/RobinOester-Barkey/Sharkie" target="_blank"><button>Github</button></a>
            <a href="https://sharkie.oester-barkey.net/index.html" target="_blank"><button>Live test</button></a>
        </div>
    </div>
</div>