<div class="jump"></div>
<div class="skills-container">
    <div class="titel">My Skills</div>

    <div class="skills-1">
        <div class="skill-item">
            <img src="/assets/img/Angular.png" alt="Angular Logo">
            <div class="skill-description">Angular</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/TS.png" alt="TypeScript Logo">
            <div class="skill-description">TypeScript</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/JS.png" alt="JavaScript Logo">
            <div class="skill-description">JavaScript</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/html.png" alt="HTML Logo">
            <div class="skill-description">HTML</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/css.png" alt="CSS Logo">
            <div class="skill-description">CSS</div>
        </div>
    </div>

    <div class="skills-2">
        <div class="skill-item">
            <img src="/assets/img/Firebase.png" alt="Angular Logo">
            <div class="skill-description">Firebase</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/git.png" alt="TypeScript Logo">
            <div class="skill-description">Git</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/scrum.png" alt="JavaScript Logo">
            <div class="skill-description">Scrum</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/Api.png" alt="HTML Logo">
            <div class="skill-description">Rest-Api</div>
        </div>
        <div class="skill-item">
            <img src="/assets/img/MD.png" alt="CSS Logo">
            <div class="skill-description">M-Design</div>
        </div>
    </div>

    <div class="learn">
        <img src="/assets/img/Capa_1.png" alt="">
        <div>Dont see the skill you need? <a href="#contactForm">Contact me</a> I am always ready to learn!</div>
    </div>
</div>

<div class="arrow-down">
    <img src="/assets/img/Frame 3.png" alt="">
</div>