<app-header></app-header>

<h1>
    Datenschutzerklärung
</h1>

<ul>
    <li>
        <p><strong>Allgemeine Hinweise</strong></p>
    </li>
    <li>
        <span>Diese Datenschutzerklärung enthält ausführliche Informationen darüber, was mit Ihren persönlichen Daten passiert, wenn Sie unsere Website oester-barkey.net besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie sich persönlich identifizieren können. Wir halten uns bei der Verarbeitung Ihrer Daten streng an die gesetzlichen Bestimmungen, insbesondere die Datenschutzgrundverordnung („DSGVO“), und legen großen Wert darauf, dass Ihr Besuch auf unserer Website absolut sicher ist.</span>
    </li>
    <li>
        <p><strong>Verantwortliche Stelle</strong></p>
    </li>
    <li>
        <span>Datenschutzrechtlich verantwortlich für die Erhebung und Verarbeitung von personenbezogenen Daten auf dieser Website ist:</span><br><br>
        <strong>Vorname, Name:</strong> Robin Oester-Barkey<br>
        <strong>Straße, Hausnummer:</strong> Brockhagener Str.293<br>
        <strong>Postleitzahl, Ort:</strong> 33649 Bielefeld<br>
        <strong>Land:</strong> Deutschland<br>
        <strong>E-Mail:</strong> robin.info(at)oester-b.com<br>
        <strong>Tel.:</strong> +4915117602966<br>
    </li>
    <li>
        <p><strong>Zugriffsdaten (Server-Logfiles)</strong></p>
    </li>
    <li>
        <span>Beim Aufruf unserer Website erheben wir und speichern automatisch in sogenannten Server-Logfiles Zugriffsdaten, die Ihr Browser automatisch an uns übermittelt. Dies sind:</span><br>
        <ul>
            <li><span>Browsertyp und Browserversion Ihres PC</span></li>
            <li><span>von Ihrem PC verwendetes Betriebssystem</span></li>
            <li><span>Referrer URL (Quelle/Verweis, von welchem Sie auf unsere Website gelangten)</span></li>
            <li><span>Hostname des zugreifenden Rechners</span></li>
            <li><span>Datum und Uhrzeit der Serveranfrage</span></li>
            <li><span>die aktuell von Ihrem PC verwendete IP-Adresse (ggf. in anonymisierter Form)</span></li>
        </ul>
    </li>
    <li>
        <span>Ein Personenbezug ist uns im Regelfall nicht möglich und auch nicht beabsichtigt. Die Verarbeitung solcher Daten erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO zur Wahrung unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.</span>
    </li>
    <li>
        <p><strong>Soziale Medien</strong></p>
    </li>
    <li>
        <ol>
            <li>
                <strong>Google+ Plugin</strong><br><br>
                <p>Unsere Website benutzt Social Plugins von Google+ der Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Ireland („Google“). Die Plugins sind z.B. an Buttons mit dem Zeichen „+1“ auf weißem oder farbigem Hintergrund erkennbar. Eine Übersicht über die Google Plugins und deren Aussehen finden Sie hier: https://developers.google.com/+/plugins</p>
                <p>Um den Schutz Ihrer Daten beim Besuch unserer Website zu erhöhen, sind die Google+-Plugins nicht uneingeschränkt, sondern lediglich unter Verwendung eines HTML-Links (sogenannte „Shariff“-Lösung von c‘t) in die Seite eingebunden. Diese Einbindung gewährleistet, dass beim Aufruf einer Seite unseres Webauftritts, die solche Plugins enthält, noch keine Verbindung mit den Servern von Google hergestellt wird. Erst wenn Sie auf den Google+ Button klicken, öffnet sich ein neues Fenster Ihres Browsers und ruft die Seite von Google auf.</p>
                <p>Informationen über den Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Google sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre finden Sie in der Datenschutzerklärung von Google: https://policies.google.com/privacy?hl=de.</p>
            </li>
            <li>
                <strong>LinkedIn Plugin</strong><br><br>
                <p>Unsere Website benutzt Funktionen des Netzwerks LinkedIn. Anbieter ist die LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA („LinkedIn“).</p>
                <p>Um den Schutz Ihrer Daten beim Besuch unserer Website zu erhöhen, sind die LinkedIn-Plugins nicht uneingeschränkt, sondern lediglich unter Verwendung eines HTML-Links (sogenannte „Shariff“-Lösung von c‘t) in die Seite eingebunden. Diese Einbindung gewährleistet, dass beim Aufruf einer Seite unseres Webauftritts, die solche Plugins enthält, noch keine Verbindung mit den Servern von LinkedIn hergestellt wird. Erst wenn Sie auf den LinkedIn Button klicken, öffnet sich ein neues Fenster Ihres Browsers und ruft die Seite von LinkedIn auf.</p>
                <p>Informationen über den Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch LinkedIn sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre finden Sie in der Datenschutzerklärung von LinkedIn unter: https://www.linkedin.com/legal/privacy-policy.</p>
            </li>
        </ol>
    </li>
    <li>
        <p><strong>Kontaktformular</strong></p>
    </li>
    <li>
        <span>Sofern Sie mit uns Kontakt per E-Mail oder über ein Kontaktformular aufnehmen, werden übermittelte Daten einschließlich Ihrer Kontaktdaten gespeichert, um Ihre Anfrage bearbeiten zu können oder um für Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten findet ohne Ihre Einwilligung nicht statt.</span>
    </li>
    <li>
        <span>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.</span>
    </li>
    <li>
        <span>Über das Kontaktformular übermittelte Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder keine Notwendigkeit der Datenspeicherung mehr besteht. Zwingende gesetzliche Bestimmungen - insbesondere Aufbewahrungsfristen - bleiben unberührt.</span>
    </li>
    <li>
        <p><strong>Datenverwendung und -weitergabe</strong></p>
    </li>
    <li>
        <span>Die personenbezogenen Daten, die Sie uns z.B. per E-Mail mitteilen (z.B. Ihr Name und Ihre Adresse oder Ihre E-Mail-Adresse), werden wir weder an Dritte verkaufen noch anderweitig vermarkten. Ihre personenbezogenen Daten werden nur zur Korrespondenz mit Ihnen und nur für den Zweck verarbeitet, zu dem Sie uns die Daten zur Verfügung gestellt haben. Zur Abwicklung von Zahlungen geben wir Ihre Zahlungsdaten an das mit der Zahlung beauftragte Kreditinstitut weiter.</span>
        <p>Die Verwendung von Daten, die bei Ihrem Besuch unserer Website automatisch erhoben werden, erfolgt nur zu den vorstehend genannten Zwecken. Eine anderweitige Verwendung der Daten findet nicht statt.</p>
        <p>Wir versichern, dass wir Ihre personenbezogenen Daten im Übrigen nicht an Dritte weitergeben, es sei denn, dass wir dazu gesetzlich verpflichtet wären oder Sie uns vorher Ihre Zustimmung gegeben haben.</p>
    </li>
    <li>
        <p><strong>SSL- bzw. TLS-Verschlüsselung</strong></p>
    </li>
    <li>
        <span>Unsere Website benutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://” auf „https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</span>
    </li>
    <li>
        <span>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</span>
    </li>
    <li>
        <p><strong>Speicherdauer</strong></p>
    </li>
    <li>
        <span>Personenbezogene Daten, die uns über unsere Website mitgeteilt worden sind, werden nur so lange gespeichert, bis der Zweck erfüllt ist, zu dem sie uns anvertraut wurden. Soweit handels- und steuerrechtliche Aufbewahrungsfristen zu beachten sind, kann die Speicherdauer zu bestimmten Daten bis zu 10 Jahre betragen.</span>
    </li>
    <li>
        <p><strong>Ihre Rechte</strong></p>
    </li>
    <li>
        <span>Sie haben uns gegenüber folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:</span><br>
        <ul>
            <li><span>Recht auf Auskunft (Art. 15 DSGVO): Sie können von uns eine Bestätigung darüber verlangen, ob betreffende Daten verarbeitet werden.</span></li>
            <li><span>Recht auf Berichtigung (Art. 16 DSGVO): Sie können von uns unverzüglich die Berichtigung falscher oder die Vervollständigung unvollständiger Daten verlangen.</span></li>
            <li><span>Recht auf Löschung (Art. 17 DSGVO): Sie können von uns die Löschung Ihrer personenbezogenen Daten verlangen, sofern keine gesetzlichen Aufbewahrungspflichten oder andere rechtliche Gründe der Löschung entgegenstehen.</span></li>
            <li><span>Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO): Sie können von uns die Einschränkung der Verarbeitung Ihrer Daten verlangen, wenn die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie jedoch deren Löschung ablehnen oder wir die Daten nicht länger benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen.</span></li>
            <li><span>Recht auf Datenübertragbarkeit (Art. 20 DSGVO): Sie können von uns die Ihnen betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format erhalten und die Übermittlung an einen anderen Verantwortlichen verlangen.</span></li>
            <li><span>Widerspruchsrecht (Art. 21 DSGVO): Sie können aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten Widerspruch einlegen.</span></li>
        </ul>
    </li>
    <li>
        <span>Wenn Sie von einem dieser Rechte Gebrauch machen möchten, können Sie sich jederzeit an die oben angegebene verantwortliche Stelle wenden.</span>
    </li>
    <li>
        <p><strong>Änderungen der Datenschutzerklärung</strong></p>
    </li>
    <li>
        <span>Wir behalten uns vor, diese Datenschutzerklärung bei Bedarf anzupassen, um sie stets den aktuellen rechtlichen Anforderungen zu entsprechen oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</span>
    </li>
</ul>

<app-footer></app-footer>